<h2>Hi</h2>
<%= @user.display_name %>
<br/>
<h3>You account has been successfully created at AIMDek credit card application.</h3>
<br/>
<h3>here is your credentials to access your account.</h3>
<br/>
Email Address
<%= @user.email %>
<br/>
Password
<%= @password %>
<br/>
Thanks for using our services.
<br/>
AIMDek Team
